@import url(https://fonts.googleapis.com/css?family=Ubuntu);
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  width: auto;
  height: auto;
  font-family: Ubuntu;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

.canvasContainer {
  position: absolute;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.headerContainer p {
  padding: 0;
  margin: 0;
}

.hash {
  font-size: 6em;
  font-weight: bolder;
  color: white;
}

.cabezaContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.cabezaSpin {
  width: 33%;
  height: auto;
  position: absolute;
  animation: spin 2s linear infinite;
}

.cabezaSpin2 {
  width: 33%;
  height: auto;
  position: absolute;
  animation: spin2 2s linear infinite;
}

#quedateEnCasa,
#oyePapi {
  display: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(35deg);
  }

  75% {
    transform: rotate(-35deg);
  }
}

@media only screen and (max-width: 798px) {
  .headerContainer {
    width: auto;
  }
  .hash {
    font-size: 1.5em;
    margin-top: 1em;
  }
  .cabezaSpin {
    width: auto;
    height: 40%;
    position: absolute;
    animation: spin 2s linear infinite;
  }

  .cabezaSpin2 {
    width: auto;
    height: 40%;
    position: absolute;
    animation: spin2 2s linear infinite;
  }
}
